*{
    margin: 0;
    padding: 0;
}
.bodyreplica{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    background-color: black;
}
#name{
    font-size: 3rem;
}
.maininfo{
    margin-left: 5vw;
}
.CV button{
    margin:10px 10px 0 0;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: .2s;
    border: 1px solid white;
    box-sizing: border-box;
}
.CV button:hover{
    color: black;
    background-color: white;
}